@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #0F172A;
  --color-accent: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-background: #020617;
  --color-card: #0F172A;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    font-family: 'Inter', sans-serif;
  }
}
